.weekend.page {
  header {
    button {
      width: auto;
      padding: 0 8px;
      font-size: 20px;
      font-weight: normal;
      color: @BLACK;

      &.active {
        color: white;
      }
    }
  }

  .content {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 48px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .cast {
      margin: 0;
      padding: 8px 16px 0;
      list-style: none;

      li {
        position: relative;
        float: left;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
        font-size: 20px;
        margin: 0 0 4px;
        padding: 0 0 0 40px;
        box-sizing: border-box;
        width: 50%;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @FAINT;
        display: none;

        &.active {
          color: @BLACK;
          display: block;
        }

        i {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 32px;
          height: 32px;
          .retina-icons('black');
        }

        &[data-state=unknown] i {
          opacity: 0.3;
          background-position: 0px -32px;
        }

        &[data-state=friday] i {
          background-position: -192px -64px;
        }

        &[data-state=saturday] i {
          background-position: -224px -64px;
        }

        &[data-state=neither] i {
          background-position: -32px -32px;
        }

        &[data-state=both] i {
          background-position: -64px -32px;
        }
      }
    }
  }
}

.weekend[data-view=all] .content .cast li {
  display: block;
}

.calendar {
  margin: 0 auto;
  width: 280px;
  padding: 0;
  list-style: none;
  li {
    display: block;
    float: left;
    margin: 0;
    padding: 4px;
    width: 30px;
    height: 40px;
    box-sizing: border-box;
    text-align: right;
    font-size: 20px;
    line-height: 32px;
    vertical-align: middle;
    color: @FAINT;

    &[data-day=friday],
    &[data-day=saturday] {
      color: @BLACK;
      font-weight: bold;
      cursor: pointer;
      width: 65px;
      position: relative;
      padding-right: 32px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 4px;
        width: 32px;
        height: 32px;
        .retina-icons('black');
        background-position: 0 -32px;
      }

      &.header {
        text-align: right;
        &:after { display: none; }
      }

      &[data-state=available] {
        background-color: @GREEN;
        color: white;
        &:after {
          .retina-icons('white');
          background-position: -64px -32px;
        }
      }

      &[data-state=unavailable] {
        background-color: @RED;
        color: white;
        &:after {
          .retina-icons('white');
          background-position: -32px -32px;
        }
      }
    }

    &.header {
      text-align: center;
      border-bottom: 1px solid @GREY;
    }

    &.offset-0 { margin-left: 0; }
    &.offset-1 { margin-left: 30px; }
    &.offset-2 { margin-left: 60px; }
    &.offset-3 { margin-left: 90px; }
    &.offset-4 { margin-left: 120px; }
    &.offset-5 { margin-left: 150px; }
    &.offset-6 { margin-left: 215px; }
  }
}

@media screen and (min-width: 640px) {
  .weekend .content .cast li { width: 25%; } 
}

@media screen and (min-width: 1000px) {
  .weekend .content .cast li { width: 12.5%; } 
}

.colourblind {
  .calendar {
    li {

      &[data-day=friday],
      &[data-day=saturday] {
        &[data-state=available] {
          background-color: @BLACK;
        }

        &[data-state=unavailable] {
          background-color: @FAINT;
        }
      }
    }
  }
}
