/*@import url("//hello.myfonts.net/count/26042d");*/

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/assets/26042D_0_0.eot');
  src: url('/assets/26042D_0_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/26042D_0_0.woff') format('woff'),
       url('/assets/26042D_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/assets/26042D_1_0.eot');
  src: url('/assets/26042D_1_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/26042D_1_0.woff') format('woff'),
       url('/assets/26042D_1_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
