input[type=text],
input[type=password],
input[type=email] {
  display: block;
  margin: 0 0 8px;
  width: 100%;
  padding: 0;
  text-indent: 4px;
  box-sizing: border-box;
  border: none;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
  font-size: 20px;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:last-child {
    margin-bottom: 0;
  }
}

textarea {
  display: block;
  margin: 0 0 8px;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  border: none;
  vertical-align: middle;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:last-child {
    margin-bottom: 0;
  }
}

label.checkbox {
  display: block;
}

form p.error {
  margin: 0;
  padding: 0 0 8px;
}

fieldset {
  margin: 0 0 8px;
  background: @SILVER;
  border: none;
  padding: 8px;
  border-radius: 8px;

  [name=password_confirmation] {
    margin-bottom: 0;
    +p {
      margin-top: 8px;
      padding-bottom: 0;
    }
  }
}