.jesters {
  &.page {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;

    header {
      height: auto;
      top: 7px;
      overflow: hidden;
      background: fade(@WHITE, 90%);
      z-index: 50;
    }

    header {
      ul {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: block;
          margin: 0;
          padding: 0;
          height: 0;
          overflow: hidden;
          transition: height @SLOW ease;
          -webkit-transition: height @SLOW ease;
          -moz-transition: height @SLOW ease;
          a {
            display: block;
            line-height: 40px;
            font-size: 20px;
            vertical-align: middle;
            color: @FAINT;
            text-decoration: none;
            text-shadow: none;
            text-transform: uppercase;
            cursor: pointer;
          }
          &.active {
            height: 40px;
            a { color: @BLACK; }
          }
        }

        &.stats {
          float: right;
          text-align: right;
        }
      }

      &.open ul li {
        height: 40px;
      }
    }

    .content {
      position: absolute;
      top: 48px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      .list {
        margin: 0;
        padding: 0 16px 48px;
        list-style: none;

        li {
          display: block;
          margin: 0;
          height: 40px;
          padding: 4px 0 4px 48px;
          position: relative;
          border-bottom: 1px solid @FAINT;
          cursor: pointer;
          transition: top @SLOW ease;
          -webkit-transition: top @SLOW ease;
          -moz-transition: top @SLOW ease;

          img {
            position: absolute;
            left: 0;
            top: 4px;
            width: 40px;
            height: 40px;
          }

          b {
            display: block;
            font-size: 20px;
            line-height: 40px;
            vertical-align: middle;
            font-weight: bold;
          }

          .stat {
            position: absolute;
            right: 0;
            top: 4px;
            font-size: 20px;
            line-height: 40px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

[data-section=jesters] .stackable>header>h2 {
  margin-right: 40px;
}

.jester.screen {
  .content {
    padding: 16px 0 16px 16px;

    aside {
      margin: 0 16px 16px 0;
      position: relative;
      padding-left: 144px;
      height: 136px;
      background: white;

      img {
        display: block;
        max-width: 136px;
        position: absolute;
        left: 0;
        top: 0;
      }

      dl {
        position: absolute;
        top: 8px;
        left: 144px;
        right: 8px;
        bottom: 8px;
        margin: 0;
        padding: 8px;

        dt, dd {
          margin: 0;
          padding: 0;
        }

        dt[rel=this-year] {
          display: none;

          +dd {
            display: block;
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            margin: 0 0 8px;
          }
        }

        dt[rel=last-year] {
          display: inline;
          &:before { content: '('; }
          &:after { content: ': '; }
          +dd {
            display: inline;
            &:after { content: ')'; }
          }
        }
      }
    }

    .info {
      overflow: hidden;
    }

    .other {
      float: left;
      width: 50%;
      padding-right: 16px;
      box-sizing: border-box;
      margin-bottom: 16px;

      h3 {
        border-bottom: 1px solid @FAINT;
        margin: 0 0 8px;
        padding: 0;
        font-size: 20px;
        line-height: 32px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: block;
          position: relative;
          margin: 0 0 8px;
          padding: 0;

          a {
            display: block;
            position: relative;
            padding: 0 0 0 40px;
            height: 32px;
            font-size: 20px;
            line-height: 32px;
            color: @BLACK;
            text-decoration: none;

            img {
              width: 32px;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
}

.edit-jester {
  .content {
    padding: 8px;

    fieldset {
      margin: 0 0 8px;
      background: @SILVER;
      border: none;
      padding: 8px;
      border-radius: 8px;

      [name=password_confirmation] {
        margin-bottom: 0;
        +p {
          margin-top: 8px;
          padding-bottom: 0;
        }
      }

      &.photo {
        position: relative;
        height: 32px;

        img {
          position: absolute;
          left: 8px;
          top: 8px;
          width: 32px;
          height: 32px;
        }

        [type=file] {
          visibility: hidden;
        }

        button {
          position: absolute;
          top: 8px;
          left: 48px;
          height: 32px;
          background: @RED;
          color: white;
          padding: 0 16px;
          line-height: 32px;
          font-size: 20px;

          &.disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .jester.screen .content .other {
    float: none;
    width: auto;
  }
}