.jesters {
  &.page {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;

    header {
      height: auto;
      top: 7px;
      overflow: hidden;
      background: fade(@WHITE, 90%);
      z-index: 50;
    }

    header {
      ul {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: block;
          margin: 0;
          padding: 0;
          height: 0;
          overflow: hidden;
          transition: height @SLOW ease;
          -webkit-transition: height @SLOW ease;
          -moz-transition: height @SLOW ease;
          a {
            display: block;
            line-height: 40px;
            font-size: 20px;
            vertical-align: middle;
            color: @FAINT;
            text-decoration: none;
            text-shadow: none;
            text-transform: uppercase;
            cursor: pointer;
          }
          &.active {
            height: 40px;
            a { color: @BLACK; }
          }
        }

        &.stats {
          float: right;
          text-align: right;
        }
      }

      &.open ul li {
        height: 40px;
      }
    }

    .content {
      position: absolute;
      top: 48px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      .list {
        margin: 0;
        padding: 0 16px 48px;
        list-style: none;

        li {
          display: block;
          margin: 0;
          height: 40px;
          padding: 4px 0 4px 48px;
          position: relative;
          border-bottom: 1px solid @FAINT;
          cursor: pointer;
          transition: top @SLOW ease;
          -webkit-transition: top @SLOW ease;
          -moz-transition: top @SLOW ease;

          img {
            position: absolute;
            left: 0;
            top: 4px;
            width: 40px;
            height: 40px;
          }

          b {
            display: block;
            font-size: 20px;
            line-height: 40px;
            vertical-align: middle;
            font-weight: bold;
          }

          .stat {
            position: absolute;
            right: 0;
            top: 4px;
            font-size: 20px;
            line-height: 40px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

[data-section=jesters] .stackable>header>h2 {
  margin-right: 40px;
}